<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %>!</h1>
    <p>
      Your username is still: <%= @user.email %>.<br>
      Your password has been temporarily reset to: <%= @user.password %><br>
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Login', login_url %>.
    </p>
    <p>
      Once logged in, you can follow this link to change your password: <%= link_to 'Settings', edit_user_url(@user) %>
    </p>
    <p>Good luck with your application!</p>
  </body>
</html>