<div class="row" id="grad">
    <div class="col-md-10 col-md-offset-1">
        <h1 id="white-text">Listing applicants</h1>

        <table class="table table-hover table-condensed">
          <tr>
            <th><%= link_to 'ID', applicants_path(sort_param: "id", sort_dir: !@last_dir) %></th>
            <th><%= link_to 'Name', applicants_path(sort_param: "first_name", sort_dir: !@last_dir) %></th>
            <th><%= link_to 'Email', applicants_path(sort_param: "email", sort_dir: !@last_dir) %></th>
            <th><%= link_to 'Submitted?', applicants_path(sort_param: "submitted", sort_dir: !@last_dir) %></th>
            <th></th>
            <th></th>
          </tr>
         
          <% @applicants.each do |applicant| %>
              <tr>
                <td><%= applicant.id %></td>
                <td><%= applicant.first_name %> <%= applicant.last_name %></td>
                <td><%= applicant.email %></td>
                <td><%= applicant.app.submitted %></td>
                <td><%= link_to 'View Application', applicant_app_path(applicant, applicant.app), class: 'btn btn-info' %></td>
                <td><%= link_to 'Delete', applicant, method: :delete, data: { confirm: "Are you sure you want to delete this applicant?" }, class: 'btn btn-danger' %></td>
              </tr>
          <% end %>
        </table>
    </div>
</div>