<% provide(:title, "YMUNI Application") %>

<div class="row" id="grad">
	<div class="col-md-8 col-md-offset-2">
	    <div class="jumbotron">
	        <%= form_for(:user, url: users_reset_password_path, method: :post) do |f| %>
	            <%= hidden_field_tag 'page', params[:page] %>

	            <h1>Reset your password</h1>

	            <%= f.label :email %><br>
	            <%= f.text_field :email, class: 'form-control' %><br>

	            <%= f.submit "Reset password", class: 'btn btn-primary btn-lg' %>
	        <% end %>
	    </div>
	</div>
</div>