<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!--<div class="navbar-header">
          	<%= link_to "YMUNI", root_path, class: 'navbar-brand' %>
        </div>-->
        <div>
          	<ul class="nav navbar-nav">
                <li id="yale-new-roman"><%= link_to "Home", root_path %></li> <!--, class: 'navbar-brand' -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="yale-new-roman">About <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="yale-new-roman"><%= link_to 'Our Vision', vision_path %></li>
                        <li id="yale-new-roman"><%= link_to 'Our Curriculum', curriculum_path %></li>
                        <!--<li id="yale-new-roman"><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li id="yale-new-roman"><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li id="yale-new-roman"><a href="#">One more separated link</a></li>-->
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="yale-new-roman">YMUNI 2015 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li id="yale-new-roman"><%= link_to 'Important Dates and Deadlines', dates_path %></li>
                        <li id="yale-new-roman"><%= link_to 'Financial Aid', financial_path %></li>
                        <li id="yale-new-roman"><%= link_to 'FAQ', faq_path %></li>
                    </ul>
                </li>
                <li id="yale-new-roman"><%= link_to 'Our Team', team_path %></li>
          			<% if logged_in? %>
            				<% if admin? %>
              					<li id="yale-new-roman"><%= link_to 'Manage applicants', applicants_path %></li>
              					<li id="yale-new-roman"><%= link_to 'Admin Dashboard', '#' %></li>
            				<% elsif current_user.type == 'Recommender' %>
                                <li id="yale-new-roman"><%= link_to 'Recommender Dashboard', recommender_dashboard_path %></li>
                            <% else %>
            				    <li id="yale-new-roman"><%= link_to 'Application Dashboard', edit_applicant_app_path(current_user, current_user.app) %></li>
            				<% end %>
            				<li id="yale-new-roman"><%= link_to "Settings", edit_user_path(current_user) %></li>
            				<!--<li id="yale-new-roman"><%= link_to 'Profile', current_user %></li>-->
            				<li id="yale-new-roman"><%= link_to 'Log out', logout_path, method: :delete %></li>
        			 <% else %>
                            <li id="yale-new-roman"><%= link_to 'Apply', apply_path %></li>
        		            <li id="yale-new-roman"><%= link_to 'Login', login_path %></li>
        			 <% end %>
          	</ul>
        </div>
    </div>
</nav>