<div class="col-md-3">
    <h3 id="white-text", class="text-center">Quick links:</h3>
    <%= link_to '(1) General Information', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '1'}), class: 'btn btn-default btn-block' %>
    <%= link_to '(2) Essays', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '2'}), class: 'btn btn-default btn-block' %>
    <%= link_to '(3) Letters of Recommendation', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '3'}), class: 'btn btn-default btn-block' %>
    <%= link_to '(4) Resume', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '4'}), class: 'btn btn-default btn-block' %>
    <%= link_to '(5) GPA and Test Scores', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '5'}), class: 'btn btn-default btn-block' %>
    <%= link_to '(6) Additional Comments', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '6'}), class: 'btn btn-default btn-block' %>
    <%= link_to '(7) Finish', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '7'}), class: 'btn btn-default btn-block' %>
</div>

<!-- <div class="col-md-1"></div> -->