<h2>YMUNI</h2>
<%= link_to 'About us', about_path %><br>
<% if logged_in? %>
	<% if admin? %>
		<li><%= link_to 'Manage applicants', users_path %></li>
		<li><%= link_to 'Admin Dashboard', '#' %></li>
		<% else %>
			<li><%= link_to 'Application Dashboard', '#' %></li>
	<% end %>
	<li><%= link_to "Settings", edit_user_path(current_user) %></li>
	<li><%= link_to 'Profile', current_user %></li>
	<li><%= link_to 'Log out', logout_path, method: :delete %></li>
	<% else %>
		<li><%= link_to 'Login', login_path %></li>
<% end %>