<h2>YMUNI</h2>
<%= link_to 'About us', about_path %><br>
<%= link_to 'View applicants', users_path %>
<% if logged_in? %>
	<li><%= link_to 'Application Dashboard', '#' %></li>
	<li><%= link_to 'Settings', '#' %></li>
	<li><%= link_to 'Profile', current_user %></li>
	<li><%= link_to 'Log out', logout_path, method: :delete %></li>
	<% else %>
		<li><%= link_to 'Login', login_path %></li>
<% end %>