<% provide(:title, "YMUNI Application") %>

<div class="row" id="grad">
    <!--<div class="col-md-2">
        <h3 id="white-text", class="text-center">Quick links:</h3>
        <%= link_to 'General Information', edit_user_app_path(current_user, current_user.app, params.merge(:page => '1')), class: 'btn btn-default btn-block' %>
        <%= link_to 'Essays', edit_user_app_path(current_user, current_user.app, params.merge(:page => '2')), class: 'btn btn-default btn-block' %>
        <%= link_to 'Letters of Recommendation', edit_user_app_path(current_user, current_user.app, params.merge(:page => '3')), class: 'btn btn-default btn-block' %>
        <%= link_to 'Resume', edit_user_app_path(current_user, current_user.app, params.merge(:page => '4')), class: 'btn btn-default btn-block' %>
        <%= link_to 'GPA and Test Scores', edit_user_app_path(current_user, current_user.app, params.merge(:page => '5')), class: 'btn btn-default btn-block' %>
    </div>

    <div class="col-md-1"></div>-->

    <%= render 'shared/quick_links' %>

    <div class="col-md-6" > <!--col-md-offset-3">-->
        <h1 id="white-text">YMUNI Application</h1><br>
    
        <!--<p><%= params %></p>-->
        <!--<h1><%= params[:page] %></h1>-->

        <div class="jumbotron">
            <h2>Part 1 - General Information</h2><br>

            <%= form_for([@app.user, @app]) do |f| %>
                <%= render 'shared/error_messages' %>

                <%= f.label :first_name %><br>
                <%= f.text_field :first_name, class: 'form-control' %><br>

                <%= f.label :middle_name %><br>
                <%= f.text_field :middle_name, class: 'form-control' %><br>

                <%= f.label :last_name %><br>
                <%= f.text_field :last_name, class: 'form-control' %><br>

                <%= f.label :address %><br>
                <%= f.text_field :address, class: 'form-control' %><br>

                <%= f.label :city %><br>
                <%= f.text_field :city, class: 'form-control' %><br>

                <%= f.label :state %><br>
                <%= f.text_field :state, class: 'form-control' %><br>

                <%= f.label :zip_code %><br>
                <%= f.text_field :zip_code, class: 'form-control' %><br>

                <%= f.label :country %><br>
                <%= f.text_field :country, class: 'form-control' %><br>

                <%= f.label :date_of_birth %><br>
                <%= f.date_select :date_of_birth, :start_year => 1996, class: 'form-control' %><br>

                <%= f.label :ethnicity %><br>
                <%= f.text_field :ethnicity, class: 'form-control' %><br>

                <%= f.label :school_name %><br>
                <%= f.text_field :school_name, class: 'form-control' %><br>

                <%= f.label :school_address %><br>
                <%= f.text_field :school_address, class: 'form-control' %><br>

                <%= f.label :school_city %><br>
                <%= f.text_field :school_city, class: 'form-control' %><br>

                <%= f.label :school_state %><br>
                <%= f.text_field :school_state, class: 'form-control' %><br>

                <%= f.label :school_zip_code %><br>
                <%= f.text_field :school_zip_code, class: 'form-control' %><br>

                <%= f.label :school_country %><br>
                <%= f.text_field :school_country, class: 'form-control' %><br>

                <%= f.label :grade_level %><br>
                <%= f.select :grade_level, ['Sophomore', 'Junior', 'Senior'], {:selected => @app.grade_level}, class: 'form-control' %><br>
               
                <%= f.submit "Save changes", class: 'btn btn-primary' %>
            <% end %>
        </div>

    <nav>
        <ul class="pagination pagination-lg pagination-centered">
        <li><%= link_to '<<', '#' %></li>
        <li class="active"><%= link_to '1', edit_user_app_path(current_user, current_user.app, params.merge(:page => '1')) %> </li>
        <li><%= link_to '2', edit_user_app_path(current_user, current_user.app, params.merge(:page => '2')) %></li>
        <li><%= link_to '3', edit_user_app_path(current_user, current_user.app, params.merge(:page => '3')) %></li>
        <li><%= link_to '4', edit_user_app_path(current_user, current_user.app, params.merge(:page => '4')) %></li>
        <li><%= link_to '5', edit_user_app_path(current_user, current_user.app, params.merge(:page => '5')) %></li>
        <li><%= link_to '>>', edit_user_app_path(current_user, current_user.app, params.merge(:page => '2')) %></li>
        </ul>
    </nav>
  </div>
</div>