<% provide(:title, "YMUNI Application") %>

<div class="row" id="grad">
    <%= render 'shared/quick_links' %>

    <div class="col-md-6" > <!--col-md-offset-3">-->
        <h1 id="white-text">YMUNI Application</h1><br>

        <div class="jumbotron">
            <h2>Part 3 - Letters of Recommendation</h2><br>

            <%= form_for([@app.user, @app]) do |f| %>
                <%= render 'shared/error_messages' %>

                <div class="jumbotron">
                    <h1>Invite a recommender!</h1>
                    <p>Recommendations should be one-page in length, detailing the student’s achievements, strengths and qualities. 
                    Recommendations should come from secondary school teachers.</p><br>
                    <%= f.submit "Invite recommender", class: 'btn btn-primary btn-lg' %>
                    <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Invite recommender</a></p>-->
                </div>
            <% end %>
        </div>

    <nav>
      <ul class="pagination pagination-lg pagination-centered">
        <li><%= link_to '<<', edit_user_app_path(current_user, current_user.app, params.merge(:page => '2')) %></li>
        <li><%= link_to '1', edit_user_app_path(current_user, current_user.app, params.merge(:page => '1')) %></li>
        <li><%= link_to '2', edit_user_app_path(current_user, current_user.app, params.merge(:page => '2')) %></li>
        <li class="active"><%= link_to '3', edit_user_app_path(current_user, current_user.app, params.merge(:page => '3')) %></li>
        <li><%= link_to '4', edit_user_app_path(current_user, current_user.app, params.merge(:page => '4')) %></li>
        <li><%= link_to '5', edit_user_app_path(current_user, current_user.app, params.merge(:page => '5')) %></li>
        <li><%= link_to '>>', edit_user_app_path(current_user, current_user.app, params.merge(:page => '4')) %></li>
      </ul>
    </nav>
  </div>
</div>