<% provide(:title, "YMUNI Application") %>

<div class="row" id="grad">
    <%= render 'shared/quick_links' %>

    <div class="col-md-6" > <!--col-md-offset-3">-->
        <h1 id="white-text">YMUNI Application</h1><br>

        <div class="jumbotron">
            <h2>Part 4 - Resume</h2><br>

            <%= form_for([@app.user, @app]) do |f| %>
                <%= hidden_field_tag 'page', params[:page] %>
                <%= render 'shared/app_error_messages' %>
                <h3>Upload your resume</h3><br>

                <%= f.file_field :resume %><br>
            
                <%= f.submit "Save changes", class: 'btn btn-primary' %>
            <% end %>
        </div> 

    <nav>
      <ul class="pagination pagination-lg pagination-centered">
        <li><%= link_to '<<', edit_user_app_path(current_user, current_user.app, params.merge(:page => '3')) %></li>
        <li><%= link_to '1', edit_user_app_path(current_user, current_user.app, params.merge(:page => '1')) %></li>
        <li><%= link_to '2', edit_user_app_path(current_user, current_user.app, params.merge(:page => '2')) %></li>
        <li><%= link_to '3', edit_user_app_path(current_user, current_user.app, params.merge(:page => '3')) %></li>
        <li class="active"><%= link_to '4', edit_user_app_path(current_user, current_user.app, params.merge(:page => '4')) %></li>
        <li><%= link_to '5', edit_user_app_path(current_user, current_user.app, params.merge(:page => '5')) %></li>
        <li><%= link_to '>>', edit_user_app_path(current_user, current_user.app, params.merge(:page => '5')) %></li>
      </ul>
    </nav>
  </div>
</div>