<% provide(:title, "YMUNI Application") %>

<div class="row" id="grad">
    <%= render 'shared/quick_links' %>

    <div class="col-md-6" > <!--col-md-offset-3">-->
        <h1 id="white-text">YMUNI Application</h1>
        <h2 id="white-text">Part 4 - Resume</h2><br>

        <div class="jumbotron">
            <%= form_for(@user) do |f| %>
                <%= hidden_field_tag 'page', params[:page] %>
                <%= render 'shared/app_error_messages' %>
                <h2>Upload your resume</h2><br>

                <p>
                    <% if @user.resume.path != nil %>
                        Uploaded file: <%= File.basename(@user.resume.path) %><br><br>
                    <% end %>
                    <%= f.file_field :resume %>
                    <%= f.hidden_field :resume_cache %>
                </p>
            
                <%= f.submit "Upload", class: 'btn btn-primary' %>
            <% end %>
        </div> 

    <nav>
      <ul class="pagination pagination-lg pagination-centered">
        <li><%= link_to '<<', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '3'}) %></li>
        <li><%= link_to '1', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '1'}) %></li>
        <li><%= link_to '2', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '2'}) %></li>
        <li><%= link_to '3', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '3'}) %></li>
        <li class="active"><%= link_to '4', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '4'}) %></li>
        <li><%= link_to '5', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '5'}) %></li>
        <li><%= link_to '6', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '6'}) %></li>
        <li><%= link_to '7', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '7'}) %></li>
        <li><%= link_to '>>', edit_applicant_app_path(current_user, current_user.app, :params => {:page => '5'}) %></li>
      </ul>
    </nav>
  </div>
</div>