<div class="row" id="grad">
    <div class="col-md-8 col-md-offset-2">
        <h1 id="white-text">Listing your recommendees</h1>

        <table class="table table-hover table-condensed">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Uploaded File</th>
            <th></th>
          </tr>
         
          <% @applicants.each do |applicant| %>
              <tr>
                <td><%= applicant.first_name %> <%= applicant.last_name %></td>
                <td><%= applicant.email %></td>
                <%= form_for(applicant) do |f| %>
                    <%= hidden_field_tag 'page', params[:page] %>

                    <td>
                      <% if File.exists?("#{applicant.recommendation.path}") %>
                        <%= File.basename(applicant.recommendation.path) %>
                      <% else %>
                        none
                      <% end %>
                    </td>

                    <td>
                      <%= f.file_field :recommendation %>
                      <%= f.hidden_field :recommendation_cache %>
                    </td>
                    <td>
                      <%= f.submit "Upload", class: 'btn btn-primary' %>
                    </td>
                <% end %>
              </tr>
          <% end %>
        </table>
    </div>
</div>
