<!DOCTYPE html>
<html>
<head>
  <title>YMUNI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	<%= render 'shared/navigation' %>

	<div class="row text-center" id="ymuni-header">
  		<%= link_to image_tag('Logo.jpg'), root_path %>
  	</div>
</header>
<div class="row text-center">
  <div class="col-sm-8 col-sm-push-2">
    <h3 id="white-text">Update July 9, 2015: We are currently accepting applications to fill remaining spots in our program. Applications are being reviewed on a first-come, first-serve basis. Please complete your online application and email <%= mail_to "ymuni@yira.org" %> about the status of your application.</h3>
  </div>
	<!--<h3 id="white-text">Check out the new <%= link_to 'Application FAQ', app_faq_path %> page for answers to common questions!</h3>-->
</div>
<body>
	<br>
	<div id="wrap">
		<% flash.each do |message_type, message| %>
	        <div class="alert alert-<%= message_type %>"><%= message %></div>
	    <% end %>

		<%= yield %>

		<div id="push"></div>
	</div>

    <div id="footer">
    	<div class="row">
    		<div class="col-md-1"></div>
  			<div class="col-md-2">
		      	<h4>YMUNI 2015</h4>
		        <p>August 2-8, 2015</p>
		        <p>Yale University, New Haven, CT</p>
		    </div>
		    <div class="col-md-2">
		      	<h4>Apply now!</h4>
		        <p><%= link_to "Create an account", signup_path %> and <%= link_to 'apply', apply_path %> today.</p>
		    </div>
		    <div class="col-md-2">
		      	<h4>Connect</h4>
		        <p><%= mail_to "ymuni@yira.org" %></p>
		        <p><%= link_to "YMUNI Facebook", "https://www.facebook.com/pages/Yale-Model-United-Nations-Institute/809111262469912?ref=aymt_homepage_panel" %></p>
		    </div>
		    <div class="col-md-2">
		      	<h4>YIRA</h4>
		        <p><%= link_to "yira.org", "http://www.yira.org" %></p>
		    </div>
		    <div class="col-md-2">
		      	<h4>Application questions?</h4>
		        <p><%= mail_to "ymuni@yira.org" %></p>
		    </div>
		</div>
    </div>

</body>
</html>
