<!DOCTYPE html>
<html>
<head>
  <title>YMUNI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	<div class="row text-center">
  		<%= image_tag 'Logo.jpg' %>
  	</div>
</header>
<body>
	<div id="wrap">
		<%= render 'shared/navigation' %>

		<% flash.each do |message_type, message| %>
	        <div class="alert alert-<%= message_type %>"><%= message %></div>
	    <% end %>

		<%= yield %>

		<div id="push"></div>
	</div>
	

	<!--<div id="footer">
      <div class="container">
        <h5>YMUNI 2015</h5>
        <p>August 2-8, 2015</p>
        <p>Yale University, New Haven, CT</p>
      </div>
    </div>-->

    <div id="footer">
    	<div class="row">
    		<div class="col-md-2"></div>
  			<div class="col-md-2">
		      	<h4>YMUNI 2015</h4>
		        <p>August 2-8, 2015</p>
		        <p>Yale University, New Haven, CT</p>
		    </div>
		    <div class="col-md-2">
		      	<h4>Apply now!</h4>
		        <p><%= link_to "Create an account", signup_path %> and <%= link_to 'apply', apply_path %> today.</p>
		    </div>
		    <div class="col-md-2">
		      	<h4>Connect</h4>
		        <p><%= mail_to "ymuni@yira.org" %></p>
		    </div>
		    <div class="col-md-2">
		      	<h4>YIRA</h4>
		        <p><%= link_to "yira.org", "http://www.yira.org" %></p>
		    </div>
		</div>
    </div>

</body>
</html>
